nav {
	position: relative;
	font-family: "Lato";
	margin-top: 100px;
	text-align: center;
	color:#FFF;
	font-size: 150%;
	width: 100%;
	display: inline-block;
}

nav ul{
	list-style-type: none;
	display:inline-block;
}

nav li{
	display:inline-block;
}

nav li a{
	text-decoration: none;
	font-size: 80%;
	padding-right: 25px;
	color:#069;
	display: inline-block;
}

nav li a:hover{
	color:#c00;
	text-decoration: none;
}


/*.divider-vertical-second-menu{
   height: 40px;
   width: 1px;
   margin: 0 5px;
   overflow: hidden;
   background-color: #DDD;
   border-right: 2px solid #FFF;
}*/
/*nav li a {
  padding-right:2px;
  border-right: 1px solid #ccc;
}*/

#googleMap {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	height:65%;
	width:60%;
	border:1.5px solid white;
}